@media screen and (min-width: 624px){
    /*Wrap*/
    .td_note_generic_vertical_01 .main{
        width: 624px;
        margin:auto;
    }
	.td_note_generic_vertical_01 .main .c1{
		margin-top:24px;
	}
	/*Todos los divs contenedores primarios se hacen al 100%*/
	.td_note_generic_vertical_01 .main .c2,
	.td_note_generic_vertical_01 .main .c3{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	.td_note_generic_vertical_01 .main .c2 .c2_2 .art_reltd_01 {
		border-right: 1px dashed #CCCCCC;
		width: 297px;
	}
	.td_note_generic_vertical_01 .main .c2 .c2_3{
		width:270px;
	}
	.td_note_generic_vertical_01 .main .c2_3{		
		padding-top: 0px;		
	}
	.td_note_generic_vertical_01 .main .c2 .c2_4{
		clear:both;
	}
	.td_note_generic_vertical_01 .main .c2 .c2_5{
		padding-top:24px;
	}
	.td_note_generic_vertical_01 .main .c3_3{
		clear:both;
		width: 300px;
	}
	.td_note_generic_vertical_01 .main .c3_6{
		width: 300px;
	}
	.td_note_generic_vertical_01 .main .c2_6 .art_quote_05{
		margin-top:0;
	}
	
}