@media screen {
    .wdg_teams_classification_01{
        display:block;
		height:352px;
        position:relative;
		overflow:hidden;
		width:100%;
    }
    .wdg_teams_classification_01 .titulo .ancho{
        font-size:14px;
        font-weight:bold;
    }
    .wdg_teams_classification_01 table{
        border-collapse: collapse;
        border-spacing:0px;
        width:96%;
    }
    .ie7 .wdg_teams_classification_01 table{
        border-collapse: collapse;
    }
    .wdg_teams_classification_01 tr{
       border-bottom:1px solid #CCC;
    }
    .wdg_teams_classification_01 td{
        
    }
    .wdg_teams_classification_01 .izq{
        font-size: 14px;
        width:55px;
        text-align:center;
    }
    .ie7 .wdg_teams_classification_01 .izq{
        width:30px;
    }
    .wdg_teams_classification_01 .team1{
        font-size: 14px;
        width:40%;
        font-weight: bold;
        line-height: 34px;
        text-align: left;
        padding-left: 8px;
        padding-right:10px;
    }
    .wdg_teams_classification_01 .team{
        font-size: 14px;
        width:40%;
        line-height: 30px;
        text-align: left;
        padding-left: 8px;
        padding-right:5px;
        font-weight:bold;
    }
    .ie7 .wdg_teams_classification_01 .team{
        width:55px;
        padding-right:0px;
    }
    .wdg_teams_classification_01 .der{
        text-align: center;
        vertical-align: middle;
        width: 32px;
        font-size: 14px;
        font-weight: bold;
        padding-left: 3px;
    }
	.wdg_teams_classification_01 .der_img{
	 	text-align:right;
        vertical-align:middle;
        width:35px;
        font-size:14px;
        font-weight:bold;
	}
    .ie7 .wdg_teams_classification_01 .der{
        width:30px;
    }
    .wdg_teams_classification_01 .datos .fondo{
        font-weight:bold;
        background-clip: border-box;
        background-color: #E4E4E4  !important;
        background-image: none;
        background-origin: padding-box;
        box-shadow: 0 4px 14px #CBCBCB inset;
		line-height:50px;
    }    
    .wdg_teams_classification_01 .scroll{
        overflow:auto;
        width:105%;
        height:215px;
        overflow-x:hidden;
    }
    .wdg_teams_classification_01 div.str_pleca_01 {
    	margin-bottom: 9px;
    }
    /*Para el carousel*/
    .wdg_teams_classification_01 .carousel_nav{
        display:none;
    }
    .wdg_teams_classification_01 .prev {
        position:absolute;
        border-top:1px solid #8e1818;
        z-index:2;
        top:574px;
        left:0;
        background: none repeat scroll 0 0 #AAAAAA;
        display: block;
        height: 27px;
        line-height: 26px;
        width: 29px;
        text-align:center;
        color:#000;
    }
    .wdg_teams_classification_01 .next {
        position:absolute;
        border-top:1px solid #8e1818;
        z-index:2;
        top:574px;
        left:30px;
        background: none repeat scroll 0 0 #AAAAAA;
        display: block;
        height: 27px;
        line-height: 26px;
        width: 29px;
        text-align:center;
        color:#FFF;
    }
    .wdg_teams_classification_01 .ver_todos {
        margin-left:83px;
        margin-top:18px;
        border:none;
        width:217px;
        height:29px;
        font-weight:bold;
        font-size:14px;
        background-clip: border-box;
        background-color: #E4E4E4  !important;
        background-image: none;
        background-origin: padding-box;
        box-shadow: 0 4px 14px #CBCBCB inset;
		cellpadding:0; 
		cellspacing:0;
		border-collapse:collapse;
    }
    .wdg_teams_classification_01 .ver_todos td {
        height:26px;
        line-height:26px;
        padding-left:24px;
    }
	.wdg_teams_classification_01 .seemore{
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        height: 24px;
        width: 100%;
        text-align: center;
        border-top: 1px solid #dadada;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background-color: #dadada; 
        height: 40px;
    }
    .wdg_teams_classification_01 .seemore a{
        float: none;
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        background-color: 0;
        color: #8f8f8f;
        display: block;
    }
    /*Fin carousel*/
    .wdg_teams_classification_01 .degraded{
       bottom:50px;
    }
	.wdg_teams_classification_01 .carousel_nav .bgactive{
		background-color:#A70A0B;
		border-top:1px solid #BF6163;
	}
	.wdg_teams_classification_01 .carousel_nav .bginactive{
		background-color:#BF6163;
		border-top:1px solid #BF6163;
	}
	
	.wdg_teams_classification_01 .carousel_nav .bgactive i{
		color:#FFF;
	}
	
	.wdg_teams_classification_01 .carousel_nav .bginactive i{
		color:#DBA5A5;
	}
}