@media screen and (min-width: 948px){

	.vid_4vids_03 .izq1,.vid_4vids_03 .izq:nth-of-type(2n+1){
		margin-left: 0px;
		margin-right: 14px;
	}
	.vid_4vids_03 .izq:nth-of-type(2n+2){
		margin-left: 14px;
		margin-right: 0px;
	}
	.carrusel-sizes{
		max-height: 280px;	
		width: 900px;
	}
	.vid_4vids_03 .wdg_mix_carrousa .general{
        max-height: 280px;
    }

    .vid_4vids_03{
		margin-bottom: 12px;
    }
    .vid_4vids_03 .bullets{
        display: none;
    }
    .vid_4vids_03 .wdg_mix_carrousa.showArrows .vid_4vids_03_title ul{
        display: block;
    }
	.vid_4vids_03 .bullets{
    	display: none;
    }
    .vid_4vids_03 .wdg_mix_carrousa.showArrows .vid_4vids_03_title ul.arrows{
		 display:block;		
    }

    .vid_4vids_03 .carrusel-sizes > div{
        margin-bottom: 2px;
    }
	.vid_4vids_03 .wdg_mix_carrousa div:last-child .two {
		margin-bottom: 16px;
	}
	
	.vid_4vids_03 .wdg_mix_carrousa{
		border: none;
	}
	
	.ie7 .vid_4vids_03 .wdg_social_01 ul{
		max-height: 130px;
		overflow:hidden;
	}
	
	.ie7 .vid_4vids_03 .wdg_mix_carrousa .carrusel-sizes{
		position: relative;
		float: none;
	}
}
