@media screen and (min-width: 948px){
   
   	.nav_smnu_video_01{
		margin-bottom: 5px;
    }
    .nav_smnu_video_01 .sings{
		margin-left: 135px
    }
   
	.nav_smnu_video_01 .navarrowleft,
	.nav_smnu_video_01 .navarrowright{
		display:block;
	}
	
	.nav_smnu_video_01 .cont{
		padding-left: 103px;
	}
	
	.nav_smnu_video_01 .container{
		width:470px;
	}
	
	.ie7 .nav_smnu_video_01 .navarrowleft, 
	.ie7 .nav_smnu_video_01 .navarrowright{
		margin-top: 5px;
	}

}