@media screen {
    .art_3arti_01{
        width: 100%;
        background-color: #F5F5F5;
        float: left;
        margin-bottom: 0px;
    } 
    .art_3arti_01 .div.title {
        width: 100%;
        border-bottom: 1px solid #CCC;
    }
    .art_3arti_01 .container-items {
        width: 100%;
        position: relative;
    }
    .art_3arti_01 .container-items h2 {
        font-size: 0.7em;
        line-height: 1.8em;
        font-style: italic;
        font-weight: normal !important;
        color: #D6A256;
    }
    .art_3arti_01 .container-items ul {
        list-style: none;
        width: 100%;
    }
    .art_3arti_01 .container-items ul li {
        position: relative;
        /*display: none;*/
        display: block;
        /*width: 18.750em;*/
        overflow: hidden;
        padding: 15px;
        border-bottom: 1px solid #CCC;
    }
    .art_3arti_01 .container-items ul li {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    .art_3arti_01 .container-items ul li div.titulos p{

        padding-right: 40px;
    }
    .art_3arti_01 .container-items ul li div.info-note{
        font-size: 0.8em;
        display: none;
    }
    .art_3arti_01 .container-items ul li div p {
        font-weight: bold;
        margin-top: 0;
        font-size: .9em;
        line-height: 1em;
    }
    .art_3arti_01 div.container-btn { 
        display: none;
    }



    .art_3arti_01 .container-items ul li div.titulos span.icon {
        background: url(../img/mobile-arrow-sprites.png) no-repeat 0 0;
        background-size: 19px 29px;
        height: 2em;
        width: 2.188em;
        position: absolute;
        margin-top: -0.5em;
        top: 40%;
        right: 0.5em;
    }
}