.tvsa-large{font-size:1.3333333333333em;margin-top:-4px;padding-top:3px;margin-bottom:-4px;padding-bottom:3px;vertical-align:middle}
.nav [class^="icon-"],.nav [class*=" icon-"]{vertical-align:inherit;margin-top:-4px;padding-top:3px;margin-bottom:-4px;padding-bottom:3px}
.nav [class^="icon-"].tvsa-large,.nav [class*=" icon-"].tvsa-large{vertical-align:-25%}
.nav-pills [class^="icon-"].tvsa-large,.nav-tabs [class^="icon-"].tvsa-large,.nav-pills [class*=" icon-"].tvsa-large,.nav-tabs [class*=" icon-"].tvsa-large{line-height:.75em;margin-top:-7px;padding-top:5px;margin-bottom:-5px;padding-bottom:4px}
.btn [class^="icon-"].pull-left,.btn [class*=" icon-"].pull-left,.btn [class^="icon-"].pull-right,.btn [class*=" icon-"].pull-right{vertical-align:inherit}
.btn [class^="icon-"].tvsa-large,.btn [class*=" icon-"].tvsa-large{margin-top:-.5em}
a [class^="icon-"],a [class*=" icon-"]{cursor:pointer}
ul.icons{text-indent:-1.5em;margin-left:3em}

.tvsa-televisa{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0041;')}
.tvsa-rain-sun:before{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0046;')}
.tvsa-thunder-moon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0043;')}
.tvsa-wind{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0045;')}
.tvsa-sun{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0042;')}
.tvsa-cloud{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0047;')}
.tvsa-cloud-moon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0023;')}
.tvsa-cloud-sun{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0032;')}
.tvsa-thunder{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0049;')}
.tvsa-snow{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004A;')}
.tvsa-snow-moon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0074;')}
.tvsa-rain{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0048;')}
.tvsa-rain-moon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x00A1;')}
.tvsa-moon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004C;')}
.tvsa-music{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004E;')}
.tvsa-headphones{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004F;')}
.tvsa-headphones-play{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x005A;')}
.tvsa-videocamera{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0058;')}
.tvsa-camera{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004B;')}
.tvsa-video{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0053;')}
.tvsa-images{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0054;')}
.tvsa-twitter{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0055;')}
.tvsa-facebook{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0056;')}
.tvsa-like{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0057;')}
.tvsa-instagram{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0052;')}
.tvsa-pinterest{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x002A;')}

.tvsa-warn{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0050;')}
.tvsa-error{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0051;')}
.tvsa-info{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x005C;')}
.tvsa-help{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x2022;')}
.tvsa-success{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0061;')}

.tvsa-eye{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0068;')}
.tvsa-eye-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0062;')}
.tvsa-hash{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0063;')}
.tvsa-bell{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0064;')}
.tvsa-cog{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0065;')}
.tvsa-alarm{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0066;')}
.tvsa-clock{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0067;')}
.tvsa-mic{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x004D;')}
.tvsa-feed{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x006B;')}
.tvsa-podcast{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x006D;')}
.tvsa-calendar{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x006A;')}
.tvsa-comments{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x006F;')}
.tvsa-comments-play{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0070;')}
.tvsa-search{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0069;')}
.tvsa-home{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x002F;')}
.tvsa-email{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x003B;')}
.tvsa-inbox{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x005F;')}
.tvsa-nike{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0079;')}

/* media player */
.tvsa-volume-mute{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0030;')}
.tvsa-volume-min{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0031;')}
.tvsa-volume-medium{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0032;')}
.tvsa-volume-max{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0033;')}
.tvsa-previous{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0034;')}
.tvsa-rewind{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0035;')}
.tvsa-pause{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0036;')}
.tvsa-play{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0037;')}
.tvsa-forward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0038;')}
.tvsa-next{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0039;')}
.tvsa-fullscreen{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x002E;')}
.tvsa-minimize{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x00B7;')}
.tvsa-download{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x003F;')}
.tvsa-expand{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x00BF;')}
.tvsa-contract{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0022;')}
.tvsa-popout{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0027;')}
.tvsa-replay{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0026;')}

/* devices */
.tvsa-digital-tv{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0072;')}
.tvsa-tablet{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0071;')}
.tvsa-mobile{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x006C;')}

/* navigational */
.tvsa-caret-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x003A;')}
.tvsa-caret-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x002C;')}
.tvsa-caret-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x2026;')}
.tvsa-caret-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0021;')}
.tvsa-double-caret-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0024;')}
.tvsa-double-caret-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0025;')}
.tvsa-double-caret-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0028;')}
.tvsa-double-caret-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0029;')}
.tvsa-arrow{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0078;')}
.tvsa-spinner{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x007A;')}

/* traffic */
.tvsa-map-marker{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0075;')}
.tvsa-traffic-stop{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0077;')}
.tvsa-traffic-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0076;')}

.tvsa-glass{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf000;')}
.tvsa-music{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf001;')}
.tvsa-search{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf002;')}
.tvsa-envelope{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf003;')}
.tvsa-heart{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf004;')}
.tvsa-star{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf005;')}
.tvsa-star-empty{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf006;')}
.tvsa-user{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf007;')}
.tvsa-film{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf008;')}
.tvsa-th-large{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf009;')}
.tvsa-th{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf00a;')}
.tvsa-th-list{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf00b;')}
.tvsa-ok{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf00c;')}
.tvsa-remove{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf00d;')}
.tvsa-zoom-in{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf00e;')}
.tvsa-zoom-out{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf010;')}
.tvsa-off{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf011;')}
.tvsa-signal{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf012;')}
.tvsa-cog{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf013;')}
.tvsa-trash{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf014;')}
.tvsa-home{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf015;')}
.tvsa-file{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf016;')}
.tvsa-time{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf017;')}
.tvsa-road{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf018;')}
.tvsa-download-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf019;')}
.tvsa-download{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf01a;')}
.tvsa-upload{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf01b;')}
.tvsa-inbox{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf01c;')}
.tvsa-play-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf01d;')}
.tvsa-repeat{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf01e;')}
.tvsa-refresh{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf021;')}
.tvsa-list-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf022;')}
.tvsa-lock{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf023;')}
.tvsa-flag{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf024;')}
.tvsa-headphones{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf025;')}
.tvsa-volume-off{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf026;')}
.tvsa-volume-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf027;')}
.tvsa-volume-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf028;')}
.tvsa-qrcode{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf029;')}
.tvsa-barcode{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02a;')}
.tvsa-tag{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02b;')}
.tvsa-tags{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02c;')}
.tvsa-book{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02d;')}
.tvsa-bookmark{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02e;')}
.tvsa-print{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf02f;')}
.tvsa-camera{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf030;')}
.tvsa-font{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf031;')}
.tvsa-bold{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf032;')}
.tvsa-italic{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf033;')}
.tvsa-text-height{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf034;')}
.tvsa-text-width{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf035;')}
.tvsa-align-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf036;')}
.tvsa-align-center{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf037;')}
.tvsa-align-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf038;')}
.tvsa-align-justify{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf039;')}
.tvsa-list{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf03a;')}
.tvsa-indent-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf03b;')}
.tvsa-indent-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf03c;')}
.tvsa-facetime-video{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf03d;')}
.tvsa-picture{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf03e;')}
.tvsa-pencil{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf040;')}
.tvsa-map-marker{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf041;')}
.tvsa-adjust{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf042;')}
.tvsa-tint{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf043;')}
.tvsa-edit{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf044;')}
.tvsa-share{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf045;')}
.tvsa-check{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf046;')}
.tvsa-move{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf047;')}
.tvsa-step-backward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf048;')}
.tvsa-fast-backward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf049;')}
.tvsa-backward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf04a;')}
.tvsa-play{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf04b;')}
.tvsa-pause{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf04c;')}
.tvsa-stop{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf04d;')}
.tvsa-forward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf04e;')}
.tvsa-fast-forward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf050;')}
.tvsa-step-forward{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf051;')}
.tvsa-eject{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf052;')}
.tvsa-chevron-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf053;')}
.tvsa-chevron-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf054;')}
.tvsa-plus-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf055;')}
.tvsa-minus-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf056;')}
.tvsa-remove-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf057;')}
.tvsa-ok-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf058;')}
.tvsa-question-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf059;')}
.tvsa-info-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf05a;')}
.tvsa-screenshot{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf05b;')}
.tvsa-remove-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf05c;')}
.tvsa-ok-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf05d;')}
.tvsa-ban-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf05e;')}
.tvsa-arrow-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf060;')}
.tvsa-arrow-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf061;')}
.tvsa-arrow-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf062;')}
.tvsa-arrow-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf063;')}
.tvsa-share-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf064;')}
.tvsa-resize-full{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf065;')}
.tvsa-resize-small{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf066;')}
.tvsa-plus{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf067;')}
.tvsa-minus{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf068;')}
.tvsa-asterisk{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf069;')}
.tvsa-exclamation-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf06a;')}
.tvsa-gift{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf06b;')}
.tvsa-leaf{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf06c;')}
.tvsa-fire{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf06d;')}
.tvsa-eye-open{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf06e;')}
.tvsa-eye-close{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf070;')}
.tvsa-warning-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf071;')}
.tvsa-plane{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf072;')}
.tvsa-calendar{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf073;')}
.tvsa-random{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf074;')}
.tvsa-comment{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf075;')}
.tvsa-magnet{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf076;')}
.tvsa-chevron-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf077;')}
.tvsa-chevron-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf078;')}
.tvsa-retweet{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf079;')}
.tvsa-shopping-cart{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf07a;')}
.tvsa-folder-close{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf07b;')}
.tvsa-folder-open{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf07c;')}
.tvsa-resize-vertical{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf07d;')}
.tvsa-resize-horizontal{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf07e;')}
.tvsa-bar-chart{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf080;')}
.tvsa-twitter-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf081;')}
.tvsa-facebook-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf082;')}
.tvsa-camera-retro{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf083;')}
.tvsa-key{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf084;')}
.tvsa-cogs{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf085;')}
.tvsa-comments{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf086;')}
.tvsa-thumbs-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf087;')}
.tvsa-thumbs-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf088;')}
.tvsa-star-half{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf089;')}
.tvsa-heart-empty{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf08a;')}
.tvsa-signout{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf08b;')}
.tvsa-linkedin-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf08c;')}
.tvsa-pushpin{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf08d;')}
.tvsa-external-link{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf08e;')}
.tvsa-signin{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf090;')}
.tvsa-trophy{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf091;')}
.tvsa-github-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf092;')}
.tvsa-upload-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf093;')}
.tvsa-lemon{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf094;')}
.tvsa-phone{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf095;')}
.tvsa-check-empty{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf096;')}
.tvsa-bookmark-empty{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf097;')}
.tvsa-phone-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf098;')}
.tvsa-twitter{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf099;')}
.tvsa-facebook{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf09a;')}
.tvsa-github{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf09b;')}
.tvsa-unlock{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf09c;')}
.tvsa-credit-card{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf09d;')}
.tvsa-rss{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf09e;')}
.tvsa-hdd{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a0;')}
.tvsa-bullhorn{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a1;')}
.tvsa-bell{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a2;')}
.tvsa-certificate{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a3;')}
.tvsa-hand-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a4;')}
.tvsa-hand-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a5;')}
.tvsa-hand-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a6;')}
.tvsa-hand-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a7;')}
.tvsa-circle-arrow-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a8;')}
.tvsa-circle-arrow-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0a9;')}
.tvsa-circle-arrow-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0aa;')}
.tvsa-circle-arrow-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ab;')}
.tvsa-globe{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ac;')}
.tvsa-wrench{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ad;')}
.tvsa-tasks{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ae;')}
.tvsa-filter{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0b0;')}
.tvsa-briefcase{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0b1;')}
.tvsa-fullscreen{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0b2;')}
.tvsa-group{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c0;')}
.tvsa-link{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c1;')}
.tvsa-cloud{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c2;')}
.tvsa-beaker{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c3;')}
.tvsa-cut{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c4;')}
.tvsa-copy{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c5;')}
.tvsa-paper-clip{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c6;')}
.tvsa-save{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c7;')}
.tvsa-sign-blank{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c8;')}
.tvsa-reorder{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0c9;')}
.tvsa-list-ul{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ca;')}
.tvsa-list-ol{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0cb;')}
.tvsa-strikethrough{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0cc;')}
.tvsa-underline{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0cd;')}
.tvsa-table{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ce;')}
.tvsa-magic{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d0;')}
.tvsa-truck{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d1;')}
.tvsa-pinterest{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d2;')}
.tvsa-pinterest-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d3;')}
.tvsa-google-plus-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d4;')}
.tvsa-google-plus{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d5;')}
.tvsa-money{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d6;')}
.tvsa-caret-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d7;')}
.tvsa-caret-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d8;')}
.tvsa-caret-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0d9;')}
.tvsa-caret-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0da;')}
.tvsa-columns{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0db;')}
.tvsa-sort{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0dc;')}
.tvsa-sort-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0dd;')}
.tvsa-sort-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0de;')}
.tvsa-envelope-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e0;')}
.tvsa-linkedin{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e1;')}
.tvsa-undo{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e2;')}
.tvsa-legal{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e3;')}
.tvsa-dashboard{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e4;')}
.tvsa-comment-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e5;')}
.tvsa-comments-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e6;')}
.tvsa-bolt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e7;')}
.tvsa-sitemap{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e8;')}
.tvsa-umbrella{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0e9;')}
.tvsa-paste{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ea;')}
.tvsa-lightbulb{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0eb;')}
.tvsa-exchange{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ec;')}
.tvsa-cloud-download{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ed;')}
.tvsa-cloud-upload{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0ee;')}
.tvsa-user-md{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f0;')}
.tvsa-stethoscope{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f1;')}
.tvsa-suitcase{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f2;')}
.tvsa-bell-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f3;')}
.tvsa-coffee{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f4;')}
.tvsa-food{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f5;')}
.tvsa-file-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f6;')}
.tvsa-building{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f7;')}
.tvsa-hospital{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f8;')}
.tvsa-ambulance{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0f9;')}
.tvsa-medkit{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0fa;')}
.tvsa-fighter-jet{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0fb;')}
.tvsa-beer{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0fc;')}
.tvsa-h-sign{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0fd;')}
.tvsa-plus-sign-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf0fe;')}
.tvsa-double-angle-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf100;')}
.tvsa-double-angle-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf101;')}
.tvsa-double-angle-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf102;')}
.tvsa-double-angle-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf103;')}
.tvsa-angle-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf104;')}
.tvsa-angle-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf105;')}
.tvsa-angle-up{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf106;')}
.tvsa-angle-down{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf107;')}
.tvsa-desktop{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf108;')}
.tvsa-laptop{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf109;')}
.tvsa-tablet{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf10a;')}
.tvsa-mobile-phone{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf10b;')}
.tvsa-circle-blank{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf10c;')}
.tvsa-quote-left{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf10d;')}
.tvsa-quote-right{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf10e;')}
.tvsa-spinner{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf110;')}
.tvsa-circle{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf111;')}
.tvsa-reply{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf112;')}
.tvsa-github-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf113;')}
.tvsa-folder-close-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf114;')}
.tvsa-folder-open-alt{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#xf115;')}

/* Mxm */
.tvsa-mxm-goal{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0059;')}
.tvsa-mxm-owngoal{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x007C;')}
.tvsa-mxm-penaltykick{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;002B')}
.tvsa-mxm-crossbar{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;00F7')}
.tvsa-mxm-out{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;00AC')}
.tvsa-mxm-block{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;00A2')}
.tvsa-mxm-foul{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;0040')}
.tvsa-mxm-yellowcard{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x00E7;')}
.tvsa-mxm-secondyellowcard{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x00C7;')}
.tvsa-mxm-redcard{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x20AC;')}
.tvsa-mxm-offside{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x005E;')}
.tvsa-mxm-cornerkick{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x0060;')}
.tvsa-mxm-startfirsthalf{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;006E')}
.tvsa-mxm-startsecondhalf{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;0073')}
.tvsa-mxm-startovertime{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;00B4')}
.tvsa-mxm-startextrafirsthalf{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;201C')}
.tvsa-mxm-startextrasecondhalf{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;201D')}
.tvsa-mxm-penalties{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;00A5')}
.tvsa-mxm-gameend{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;002D')}
.tvsa-mxm-playerin{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;005D')}
.tvsa-mxm-playerout{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;005B')}
.tvsa-mxm-statisticdata{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;007D')}
.tvsa-mxm-comment{zoom:expression(this.runtimeStyle['zoom']='1',this.innerHTML='&#x;007B')}
