@media screen {

	/*START: carouseltype1a_ (Small)*/
	.mix_4arts_04{
		margin-bottom: 10px;
        overflow: hidden;
		max-width:100%;;
	}
	
	.mix_4arts_04 .type1a_ {
	  overflow: hidden;
	  width: 100%;
	}
	.mix_4arts_04 .type1a_ div {
	  width: 100%;
	  height: auto;
	}
	.mix_4arts_04 .type1a_ .title {
	  border-bottom: 1px solid #CCC;
	}
	.mix_4arts_04 .type1a_ div ul {
	  width: 3.438em;
	  margin: 0;
	  float: right;
	}
	
	
	.mix_4arts_04 .type1a_ div ul li {
	  width: auto;
	  height: auto;
	  float: left;
	  margin: 0;
	}
	.mix_4arts_04 .type1a_ div ul li a {
	  width: 0.95em;
	  height: 0.563em;
	  display: none;
	  padding: 0;
	}
	/*.mix_4arts_04 .type1a_ div ul li:first-child {
	  margin: 0.625em 0.625em 0 0;
	}*/
	
	.mix_4arts_04 .type1a_.showArrows .title h1 {
	  width: 50%;
	}
	.mix_4arts_04 .type1a_.showArrows .title h1 a span.icon {
	  display: none;
	}
	.mix_4arts_04 .type1a_.showArrows .title ul li a {
	  display: block;
	}
	.mix_4arts_04 .type1a_ .carrusel {
	  width: 100%;
	  overflow: hidden;
	}
	.mix_4arts_04 .type1a_ .carrusel ul {
	  float: none;
	  margin: 0;
	  margin-top: 1.563em;
	  width: 100%;
	}
	.mix_4arts_04 .type1a_ .carrusel ul:before,
	.mix_4arts_04 .type1a_ .carrusel ul:after {
	  content: "";
	  display: table;
	}
	.mix_4arts_04 .type1a_ .carrusel ul:after {
	  clear: both;
	}
	.mix_4arts_04 .type1a_ .carrusel ul {
	  zoom: 1;
	  /* For IE 6/7 (trigger hasLayout) */
	
	}
	.mix_4arts_04 .type1a_ .carrusel ul li {
	  display: block;
	  float: none;
	  width: 100%;
	  height: auto;
	  clear:both;
	  margin-bottom:10px;
	  overflow:hidden;
	}
	
	
	
	.mix_4arts_04 .type1a_ .carrusel ul li h2 {
		float:left;
		font-size:14px;
		border-left: 1px solid #CCCCCC;
	  	height: 56px;
	  	margin-left: 15px;
    	padding-left: 15px;
		padding-top:5px;
		width:60%;
	}
	.mix_4arts_04 .type1a_ .carrusel ul li h2 a {
	  color: black;
	  background: none;
	  width: auto;
	  height: auto;
	  /*font-size:0.84em;*/
	}
	.mix_4arts_04 .type1a_ .carrusel ul li p {
	  font-style: italic;
	  color: #d6a256;
	  font-size: 0.70em;
	  font-weight:bold;
	}
	.mix_4arts_04 .type1a_ .carrusel ul li a {
	  width: auto;
	  height: auto;
	  padding: auto;
	  background: none;
	  display: block;
	}
	.mix_4arts_04 .type1a_ .carrusel ul li a img {
	  width: 100px;
	  float: left;
	}
	/*.mix_4arts_04 .type1a_ .carrusel ul li:first-child {
	  margin: 0;
	}
	.mix_4arts_04 .type1a_ .carrusel ul li:last-child {
	  margin-right: 0;
	  border: none;
	}*/
	
	/*END: carouseltype1a_ (Small)*/
	
	.mix_4arts_04 div.title h3 {
	  background-color: #A70A0B;
	}
	
	.mix_4arts_04 .type1a_ .title h3 a {
        text-decoration: none;
        color: #fff;
        height: 1.5em;
        display: block;
        padding: 0.313em 0 0.313em 1.375em;
        /*background: url(../img/str_pleca_01_arrow.png) no-repeat 98% 0.35em;*/
		background: none;
        -webkit-background-size: 12px 12px;
        -moz-background-size: 12px 20px;
        -o-background-size: 12px 12px;
        background-size: 12px 20px;
    }
	
	.mix_4arts_04 .overlay {
		 background-color: #A41D21;
		color: #FFFFFF;
		display: block;
		height: 55px;
		margin-top: 37px;
		opacity: 0.75;
		padding-left: 1px !important;
		position: absolute;
		width: 20px !important;
	}
}