@media screen and (min-width: 624px){
	
	/* START: carouseltype1a_ (Medium) */
	.mix_4arts_04{
		margin-bottom: 15px;
        overflow: hidden;
		width:300px;
	}
	
	.mix_4arts_04 .type1a_ {
	  padding-left: 0;
	}
	
	
	.mix_4arts_04 .type1a_ ul {
	  margin: 1.563em 0 auto;
	}

	.mix_4arts_04 .type1a_ .carrusel ul {
	  margin-top: 0;
	}
	/* END: carouseltype1a_ (Medium) */
	
	
	
	
	/* BEGIN: Global (Medium) */
	.mix_4arts_04 div.title {
	  margin-bottom: 1.5em;
	}
	.mix_4arts_04 div.title:before,
	.mix_4arts_04 div.title:after {
	  content: "";
	  display: table;
	}
	.mix_4arts_04 div.title:after {
	  clear: both;
	}
	.mix_4arts_04 div.title {
	  zoom: 1;
	  /* For IE 6/7 (trigger hasLayout) */
	
	}
	.mix_4arts_04 div.title h3 {
	  width: 57%;
	  max-width: 18.75em;
	  float: left;
	}
	.mix_4arts_04 div.title h3 a {
	  background-image: none !important;
	}
	.mix_4arts_04 div.title h3 a span.icon {
	  display: none;
	}
	
	
	.mix_4arts_04 .type1a_ .carrusel ul li {
	  display: block;
	  float: left;
	  width: 137px;
	  height: 135px;
	  clear: none;
	  margin-bottom:0px;
	}
	
	.mix_4arts_04 .type1a_ .carrusel ul li:nth-child(even){
		 margin: 0 0 0 25px;
	}
	
	.mix_4arts_04 .type1a_ .carrusel ul li a img {
	  width: 136px;
	  float:none;
	}
	
	.mix_4arts_04 .type1a_ .carrusel ul li h2 {
	  	float:none;
	  	border-left:none;
	  	height: auto;
	  	margin-left: 0;
    	padding-left: 0;
		padding-top:0;
		font-size:12px;
		width:auto;
	}
	
	.mix_4arts_04 .overlay {
		display: none;
	}
}