@media screen {
	/*BEGIN: videogallery (Small)*/
	.vid_4vids_01 {
		margin-bottom: 10px;
		width: 100%;
		overflow: hidden;
	}
	.vid_4vids_01 p,.vid_4vids_01 span.arrow {
		display: none;
	}
	/*Mostrar solo los primeros 3 en movil*/
	.vid_4vids_01 .type1a .carruselContainer {
		overflow: hidden;
	}
	.vid_4vids_01 .type1a #carrusel {
		height: 215px;
		overflow: scroll;
		overflow-x: hidden;
	}
	.vid_4vids_01 .type1a #carrusel li {
		height: 68px;
		margin-bottom: 7px;
		overflow: hidden;
	}
	/*Ocultar icono*/
	/* .vid_4vids_01 #carrusel .selectedGallery i {
		display: none;
	} */
	/* .vid_4vids_01 .type1a #carrusel li:nth-child(-n+3) {
		display: block;
	} */

	/*Btn Ver mas*/
	.vid_4vids_01 .vid_4vids_01_verMas {
		display: block;
		background: #e4e4e4;
		color: #515151;
		text-align: center;
		line-height: 40px;
		font-size: 14px;
	}
	.vid_4vids_01 .see_less {
		display: none;
		width: 100%;
		background-color: #e4e4e4;
		font-size: 12px;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
	}
	.vid_4vids_01 .vid_4vids_01_verMas a {
		color: #515151;
	}
	.vid_4vids_01 .type1a #carrusel li a {
		text-decoration: none;
		color: #000;
	}
	.vid_4vids_01 .type1a #carrusel li a:before,.vid_4vids_01 .type1a #carrusel li a:after
		{
		content: "";
		display: table;
	}
	.vid_4vids_01 .type1a #carrusel li a:after {
		clear: both;
	}
	.vid_4vids_01 .type1a #carrusel li a {
		zoom: 1;
		/* For IE 6/7 (trigger hasLayout) */
	}
	.vid_4vids_01 .type1a #carrusel li a>span {
		display: block;
		float: left;
		height: 63px;
		margin-right: 12px;
		overflow: hidden;
		position: relative;
		tex-align: center;
		width: 84px;
	}
	.vid_4vids_01 .type1a #carrusel li a span img {
		float: left;
		height: 63px;
		position: absolute;
		width: 84px;
	}
	.vid_4vids_01 .type1a #carrusel li a .gal_desc {
		float: left;
		font-size: 14px;
		height: 53px;
		line-height: 13px;
		overflow: hidden;
		border-left: 1px solid #ccc;
		padding-top: 12px;
		padding-left: 11px;
		padding-right: 14px;
		width: 60%;
	}
	/*END: videogallery (Small)*/
	.vid_4vids_01 .type1a .arrows,.vid_4vids_01 .type1a .arrowRight {
		display: none;
	}

	/*Play*/
	.vid_4vids_01 #carrusel .play {
		background: none repeat scroll 0 0 rgba(167, 10, 11, 0.6);
		display: block;
		height: 30px;
		margin-top: 33px;
		position: absolute;
		width: 30px;
		text-align: center;
		z-index: 1;
	}
	.vid_4vids_01 a.td_bg {
		display: none;
	}
	.vid_4vids_01 #carrusel .play i {
		color: #fff;
		line-height: 32px;
	}
	.vid_4vids_01 a.td_bg i {
		color: #fff;
		line-height: 24px;
	}

	/*Hide Title*/
	.vid_4vids_01 .overlay2 .type1a .carruselContainer ul li a div.textcolor-title1 {
		display: none;
	}
	
	.vid_4vids_01 .back_overlay {
		background: rgba(167, 10, 11, .6);
	}
	.ie8 .vid_4vids_01 .back_overlay {
		background: rgba(167, 10, 11, .6) !important;
		background-color: rgba(167, 10, 11, .6) !important;
	}
	.vid_4vids_01 .carruselContainer .degraded {
		background-repeat: repeat-x;
		background-position: 10px;
		border-top: none;
		display: block;
		position: relative;
		bottom: 13px;
		width: 100%;
		z-index: 1;
	}
	.vid_4vids_01 .str_pleca_01 {
		margin-bottom: 10px;
	}
}
/* only mobile */
@media screen and (max-width: 623px) {
    .vid_4vids_01 .imgContainer {
        display: none;
    }
}