@media screen and (min-width: 948px){
    /* */
    .td_subhome_tennis_01 .main{
        width: 948px;
    }
	/* 100 porciento */
	.td_subhome_tennis_01 .main .c9{
		width:100%;
		clear:both;
		overflow:hidden;	
	}	
	/* Flotan a la izq */
	.td_subhome_tennis_01 .main .c2,
	.td_subhome_tennis_01 .main .c4,
	.td_subhome_tennis_01 .main .c7{
		float:left;
		width: 624px;
		clear:none;
	}
	/* Flotan a la der */
	.td_subhome_tennis_01 .main .c3,
	.td_subhome_tennis_01 .main .c5,
	.td_subhome_tennis_01 .main .c8{
		float:right;
		width: 300px;
		clear:none;
	} 
	.td_subhome_tennis_01 .main .c6{
		margin-bottom:24px;
	}
	/*bloques*/	
	.td_subhome_tennis_01 .main .c3_1,
	.td_subhome_tennis_01 .main .c3_2,
	.td_subhome_tennis_01 .main .c3_3,
	.td_subhome_tennis_01 .main .c5_1,
	.td_subhome_tennis_01 .main .c5_2,
	.td_subhome_tennis_01 .main .c8_1,
	.td_subhome_tennis_01 .main .c8_2,
	.td_subhome_tennis_01 .main .c8_3,{
		float: none;
		clear:both;
		overflow:hidden;
	}
	.td_subhome_tennis_01 .main .c3_3{
		margin-bottom: 24px;
	}
	.td_subhome_tennis_01 .main .c7{
		clear: both;
		overflow: hidden;
	}
	.td_subhome_tennis_01 .main .art_branch_01 a{
		padding-bottom: 5px;	
		margin-bottom: 24px;	
	}
}