@media screen and (min-width: 948px){
    
    .btn_6prog_08 {
        border-bottom: none;
    }
    .btn_6prog_08 .bullets{
        display: none;
    }
    .btn_6prog_08 .type1a .title .flechas{
        display: block !important;
    }
      .btn_6prog_08 .type1a .carrusel ul li {        
        margin: 0 0 24px 25px;
    }
    .btn_6prog_08 div.title h3 {
        width: 31%;
    }

    .btn_6prog_08 .carouselArrowLeft{
        width: 34px !important;
    }
    .btn_6prog_08 .carouselArrowLeft i{
        color: #8f8f8e;
    }
    .btn_6prog_08 .carouselArrowRight{
        width: 14px !important;
    }
    .btn_6prog_08 .arrow_inactive{
        color: #8f8f8e !important; 
    }
    .btn_6prog_08 .arrow_active{
        color: #232323 !important; 
    }
}