@media screen {
	
	.wdg_mlb_standings_01{
		width:300px;
		margin-bottom: 36px;
		clear:both;
		overflow:hidden;
		border-bottom: 1px solid #ccc;
	}
	
	.wdg_mlb_standings_01 .str_pleca_01{
		margin-bottom:0px;
	}
	
	.wdg_mlb_standings_01 .titulo{
		font-size:20px;
		border-bottom: 1px solid #CCC;
		margin-bottom:24px;
		padding-bottom:5px;
		background:none;
	}
	
	.wdg_mlb_standings_01 .shsTableSubttlRow td{
		display:none;
		background-color:#CCC;
		font-weight:bold;
		text-align:center;
	}
	
	.wdg_mlb_standings_01 table{
		width:100%;
	}
	
	.wdg_mlb_standings_01 .shsTableTtlRow td{
		display:none;
		background-color:#999;
		color:#FFF;
		text-align:center;
		padding: 5px 0;
		height:24px;
		box-shadow: none;
	}
	
	.wdg_mlb_standings_01 .shsTableSubttlRow td{
		display:none;
		box-shadow: none;
	}
	
	.wdg_mlb_standings_01 tbody td{
		background: url("../img/dotted-horizontal.png") repeat-x bottom;
		height: 41px;
		font-size: 14px;
		font-weight: bold;
		color: #8f8f8f;
		line-height: 38px;
	}
	.wdg_mlb_standings_01 tbody tr:nth-last-child(7) td:first-of-type{
		text-align: center;
	}

	.wdg_mlb_standings_01 tbody tr:nth-last-child(7) td{
		text-align: left;
		color: #000;
		font-weight: bold;
		border-bottom: 1px solid #CCC;
		background: none;
		font-size: 14px;
		padding-top: 3px;
		height: 24px;
		width: 33px;
	}
	
	.wdg_mlb_standings_01 tbody tr:nth-last-child(2) td{
		border-bottom:1px solid #CCC;
		background:none;
	}
	
	.wdg_mlb_standings_01 tbody .shs1stCol{
		text-align:left;
		padding-left: 24px;
	}
	
	.wdg_mlb_standings_01 .shsViewMore td{
		display:none;
		background-color:#EDEDED;
		text-align:center;
	}
	
	.wdg_mlb_standings_01 .link_color{
		display:none;
	}
	
	.wdg_mlb_standings_01 .shsMiniCopyright,
	.wdg_mlb_standings_01 .shsMiniCopyrightText{
		display:none;
	}
	
}