@media screen and (min-width: 624px){
	.wdg_altasbajas_result_03{		
		height: 100%;
	    position: relative;
	    width: 300px;
		margin-bottom: 36px;
	}
	.wdg_altasbajas_result_03 .degraded{
		display:block;
		bottom:17px;
	}
	.wdg_altasbajas_result_03 > ul {
	    height: 475px;
	}
	 .wdg_altasbajas_result_03 > div .full-timetable {
       	background:#d6a256;       		 	
	 	height: 32px;
	 	line-height:32px;
	 	margin-left: 200px;
        padding-left: 0;
       	text-align: center;
	 }
	 .wdg_altasbajas_result_03 > div .full-timetable span{
	 	font-weight: bold;
	 	font-style: italic;
	 	color:#fff;	 	
	 }
	 .wdg_altasbajas_result_03 .filter{
	 	width: 72%;
	 }
	  .wdg_altasbajas_result_03 .str_pleca_01{
	  		margin-bottom: 24px;
	  }
	  .wdg_altasbajas_result_03 .division{
	  		margin-bottom:18px;
	  }
	 	.wdg_altasbajas_result_03 .filterResultado{
	 		  margin-bottom: 17px;
	 	}
}