/*	
	Document   : td_stats_res_02
	Created on : 28/08/2013, 12:34:00 am
	Author     : Luis Jesús Ruelas Merino
	Description: 
 */
@media screen and (min-width: 948px){
    /*Wrap*/
    .td_stats_res_02 .main{
        width: 948px;
    }
	/* 100 porciento */
    .td_stats_res_02 .main .c1{
		width:100%;
		clear:both;
		overflow:visible;
	}	
	/* Flotan a la izq */
	.td_stats_res_02 .main .c2{
		width:624px;
		clear:none;
	}
	/* Flotan a la der */
	.td_stats_res_02 .main .c3{
		width:300px;
		clear:none;
		float:right;
	} 
	/*bloques*/	
	.td_stats_res_02 .main .c3_1,
	.td_stats_res_02 .main .c3_2,
	.td_stats_res_02 .main .c3_3{
		float: none;
		clear:both;
		overflow:hidden;
	}
}