@media screen and (min-width: 948px){
    /*Wrap*/
    .td_ficha_jugador_02 .main{
        width: 948px;
    }
    /* Contenedor izquierdo */
    .td_ficha_jugador_02 .main .c1{
		float:left;
        clear: both;
        width: 624px;
    }
    /* Contenedor derecho */
    .td_ficha_jugador_02 .main .c2{
		float:right;
        overflow: hidden;
        width: 300px;
    }
}