@media screen and (min-width: 624px){
    /*Wrap*/
    .td_ficha_jugador_01 .main{
        width: 640px;
        margin:auto;
    }
    /* Contenedor izquierdo */
    .td_ficha_jugador_01 .main .c1{
		width: 624px;
        clear:both;
        overflow: hidden;
    }
	.td_ficha_jugador_01 .main .c1 .c1_2 .art_reltd_01{
		background: url(../../img/dotted-vertical.png) repeat-y right;
		width:297px;	
	}
	.td_ficha_jugador_01 .main .c1 .c1_2r{
		padding-left: 26px;
		margin-bottom: 0px;
		margin-top: 11px:
	}
    /* Contenedor derecho */
    .td_ficha_jugador_01 .main .c2{
		width: 624px;
        overflow: hidden;
    }
    .td_ficha_jugador_01 .main .c2_1{
    	width: 300px;
    }
    
    .td_ficha_jugador_01 .main .c2_1,
	.td_ficha_jugador_01 .main .c2_2, 
	.td_ficha_jugador_01 .main .c2_3 {
   		width: 300px;
	}
}