@media screen { 

	.wdg_poll_video_01{
		position: relative;
		max-width:624px;
		margin-bottom:60px;
		display:none;
	}
	.wdg_poll_video_01 .title{
		font-size: 18px;
		padding-bottom: 9px;
		margin-bottom: 8px;
	}
	.wdg_poll_video_01 .subtitle{
		border-bottom: 1px solid #CCCCCC;
	    font-weight: bolder;
	    padding-bottom: 14px;
		font-size:16px;
	}
	.wdg_poll_video_01 .order_by{
		font-size: 12px;
	    font-style: italic;
	    float: right;
		margin-right: 15px;
	    margin-top: -10px;
		background-color: #F5F5F5;
		width: 160px;
		text-align:center;
	}
	.wdg_poll_video_01 .poll{
		margin-top:11px;
		margin-bottom:11px;
	}
	.wdg_poll_video_01 .poll .videoimg{
		height: 193px;
		padding-right:16px;
		vertical-align:top;
		width: 343px;
	}
	.ie7 .wdg_poll_video_01 .poll .videoimg{
		max-height: 100px;
		overflow: hidden;
	}
	.wdg_poll_video_01 .poll .videoimg .overlayPlay{
		background-color: #A41D21;
		opacity: 0.75;
		width: 20px;
		height: 25px;
		bottom: 4px;
		padding-left:10px;
		padding-top:5px;
		position: absolute;
	}
	.wdg_poll_video_01 .poll .videoimg .overlayPlay i{
		color:#FFF;
	}
	.wdg_poll_video_01 .poll  .col1 .overlay{		
		height: 47px;
		opacity: 0.75;
		position: absolute;
		width: 84px;		
	}
	.wdg_poll_video_01 .poll  .col1 .overlay i{
		display: none;
		color: #FFFFFF;
		left: 59px;
		position: absolute;
	}
	.wdg_poll_video_01 .poll tr:nth-child(2) .col1{
		width:84px;
		padding: 13px 0 9px 0;
	}
	.wdg_poll_video_01 .poll tr:first-child .col1{
		padding-top: 0px;
	}
	.wdg_poll_video_01 .poll tr:last-child .col1{
		padding-top: 13px;
		border-bottom: none;
	}
	.wdg_poll_video_01 .poll .col1{
		vertical-align: top;
	}
	.wdg_poll_video_01 .poll .col2{
		vertical-align: top;
	}
	.wdg_poll_video_01 .poll tr:nth-child(2) .col2{
		padding: 5px 0 0 0;
		padding-left:18px;
		padding-top:10px;	
	}
	.wdg_poll_video_01 .poll .col2{
		padding-left: 18px;
		padding-top: 12px;
	}
	.wdg_poll_video_01 .poll .col2 .nombre{
		color:#232323;
		font-size: 14px;
	}
	.wdg_poll_video_01 .poll .col2 .equipo{
		font-size:12px;
		font-style:italic;		
		padding-bottom: 0px;	
		line-height: 14px;
	}
	.wdg_poll_video_01 .poll .col2 .rating{
		font-size:16px;
		margin-right: 15px;
	}
	.wdg_poll_video_01 .poll .col2 label.focused
    {
        color:#A70A0B !important;
    }
	.wdg_poll_video_01 .linetop{
		width:100%;
		border-top: 1px solid #CCC;
	}
	.wdg_poll_video_01 .linetop .buttonVotar{
		width:92px;
		float:right;
		text-align:center;
		font-style:italic;
		padding:5px 0;
	}
	.wdg_poll_video_01 .linetop .gracias{
		margin-left:15px;
		margin-top:5px;
		font-style: italic;
		font-size:13px;
		display: none;
	}
	.wdg_poll_video_01 .linetop .buttonVotado{
		width:175px;
		float:right;
		text-align:center;
		font-style:italic;
		padding:5px 0;
		background-color:#CCC;
	}
	.wdg_poll_video_01 .poll .col1 .score{
		display:none;
		margin: 5px 10px 10px 10px;
		border-bottom: 1px solid #CCC;
		font-size:28px;
		width:30px;
		text-align:center;
		font-style:italic;
	}
	.wdg_poll_video_01 .poll .col2 .rate1{
		color:#a70a0b;
		font-weight:bold;
		font-size:14px;
	}
	.wdg_poll_video_01 .poll .col2 .rate2{
		color:#6f0707;
		font-weight:bold;
		font-size:14px;
		padding-bottom:7px;
	}
	.wdg_poll_video_01 .poll .col2 .graph{
		height:9px;
		margin-top: 5px;
		display: none;
	}
	.wdg_poll_video_01 .poll .col2 .graph1{
		background-color:#a70a0b;
	}
	.wdg_poll_video_01 .poll .col2 .graph2{
		background-color:#6f0707;
	}
	.wdg_poll_video_01 .player{
		position:relative;
	}
	::made-up-pseudo-element, .wdg_poll_video_01 .overlayPlay {			
			bottom: 4px;
		}

		
		.1e7 .wdg_poll_video_01 .poll .col2 .scores{
			margin-bottom:0px;		
		}
		
		.ie7 .wdg_poll_video_01 .poll .col1 
		.ie7 .wdg_poll_video_01 .poll .col2 {
			padding: 0px;
			max-height: 20px;			
		}

		.wdg_poll_video_01 .poll  td:nth-child(3){
			padding-top:0;
		}
		.wdg_poll_video_01 .poll {
			border-collapse: collapse; 
			border-spacing: 0;
			border: 0;
			width: 100%;
		}
}