@media screen {
    .img_stage_02 div.img_stage_02_image img{
        width: 100%;
        height:auto;
		margin-bottom:10px;
    }
    .img_stage_02 a.img_stage_02_whtbkg {
		opacity:1;
    }
	 .img_stage_02 .texto p.img_stage_02_black {
        display: block;
        color: #000;
		padding-left: 4%;
        padding-top: 1%;
        /*font-weight: bold;*/
        font-size: 12px;
        width: 90%;
        *font-size: 14px;
        font-size: 14px\9;
		 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        -khtml-opacity: 0.8;
        -moz-opacity: 0.8;
        opacity: 0.8;
    }
	 .img_stage_02 .texto p.img_stage_02_gray {
        display: block;
		padding-left: 5%;
        font-style: italic;
        color: #666666;
        font-weight: bold;
        font-size: 0.7em;
        width: 85%;
        *font-size: 0.8em;
        font-size: 0.8em\9;
    }
    .img_stage_02 a p.img_stage_02_black {
        display: block;
        color: #000;
		padding-left: 1%;
        padding-top: 1%;
        font-weight: bold;
        font-size: 12px;
        width: 90%;
        *font-size: 0.8em;
        font-size: 0.8em\9;
    }
    .img_stage_02 a p.img_stage_02_gray {
        display: block;
		padding-left: 5%;
        font-style: italic;
        color: #666666;
        font-weight: bold;
        font-size: 0.7em;
        width: 85%;
        *font-size: 0.8em;
        font-size: 0.8em\9;
    }
	
}