@media screen and (min-width: 948px) {
	/* BEGIN: Global (Large) */
	.wdg_top03_01 {
		margin-bottom: 24px;
		display: block;
	}
	.wdg_top03_01 .wdg_top03_01_title {
		width: 300px;
	}
	.wdg_top03_01 .bullets{
    	display: none;
    }
	.wdg_top03_01 .wdg_top03_01_title ul {
		display: block;
	}
	
	/* END: Global (Large) */
}
