@media screen {
	.wdg_team_sched_01{
		height:274px;
		width:300px;
		margin-bottom: 0px;
		clear:both;
		overflow:hidden;
	}
	.wdg_team_sched_01 .str_pleca_01{
		
		margin-bottom:0px;
	}
	
	.wdg_team_sched_01 .scroll{
		height: auto;
		overflow: hidden;
	}
	
	.wdg_team_sched_01 #shsMiniBody{
		height: 242px;
		overflow: auto;
		width: 320px;
		overflow-x: hidden;
	}

	.wdg_team_sched_01 .shsTotD{
		display: none;
	}
	.wdg_team_sched_01 .shsTableSubttlRow td{
		text-align: center !important;
		font-weight: bold;
	}

	.wdg_team_sched_01 table{		
		text-align: left;
		width:100%;		
	}
	
	.wdg_team_sched_01 .shsTableTtlRow td{
		display:none;
	}
	
	.wdg_team_sched_01 .shsColTtlRow td{
		font-weight:bold;
		text-transform:uppercase;
		color:#000;
		text-align:center;
	}
	
	.wdg_team_sched_01 td{
		background: url("../img/dotted-horizontal.png") repeat-x bottom;
		padding: 5px 0;
		height: 17px;
		padding: 5px 0 5px 0px;
		color: #8f8f8f;
		text-align:center;
		font-weight:bold;
		font-size: 14px;
	}
	
	.wdg_team_sched_01 tr{		
		font-size:12px;
	}
	.wdg_team_sched_01 tr:nth-child(2) td{
		font-size:14px;
	}
	
	.wdg_team_sched_01 tbody tr:last-child td{
		border-bottom:#ccc 1px solid;
		background:none;
	}
	.wdg_team_sched_01 .weekend{
		font-size:14px;
	}
	
	.wdg_team_sched_01 tbody .shs1stCol{		
		font-weight:bold;		
		padding-left: 5px;
		text-align:center;
		width:45px;
		height: 33px;
		font-size: 14px;
	}
	
	.wdg_team_sched_01 .shsTable tbody td[colspan="3"] {
		color:#000;
		text-align:left;
		padding-left:15px;
	}
	
	.wdg_team_sched_01 .shsViewMore td{
		background-color:#EDEDED;
		text-align:center !important;
	}
	
	
	.wdg_team_sched_01 .shsMiniCopyright_schedrslt {
		display: none;
	}

	.wdg_team_sched_01 .shsNamD span{
		display: none;
	}
	.wdg_team_sched_01 .shsNamD span.shsCTZone{
		display: block;
	}
	.wdg_team_sched_01 .degradado{
		background-image: url('../global/img/degradado_horizontal.png');
		position: relative;
		width: 300px;
		height: 12px;
		top: -11px;
		display: block;
	}
	.wdg_team_sched_01 .art_branch_01{
		margin-bottom: 24px;
	}
	.wdg_team_sched_01 .art_branch_01 div.art_branch_01_title {
		border-bottom: 1px solid #CCC;
		margin-left: 0;		
	}
	.wdg_team_sched_01 .art_branch_01 .art_branch_01_title h1{
		margin-bottom: 7px;
	}
	.wdg_team_sched_01 .art_branch_01 .art_branch_01_title h1 a{
		font-weight: normal;
		font-size: 16pt;
	}
	.wdg_team_sched_01 .str_pleca_01 .str_pleca_01_title h3{
		min-width: 150px;
	}
	.wdg_team_sched_01 .str_pleca_01 .str_pleca_01_title h3 a {
		padding: 0 0 0 0;
		text-align: center;
	}
	
	
	
}