@media screen and (min-width: 624px){
	/*BEGIN: wdg_video_search_01 */
	.wdg_video_search_01{
		display: block;
		width: 624px;
		margin-bottom:36px;
	}
	.wdg_video_search_01 .nav_paginator_01{
		margin-bottom:24px;
		width: 624px;
	}
	.wdg_video_search_01 .last{
    	height: auto;
    }
	/*BEGIN: filterResultado */
	.contenFilter{
		display: block;
		width: 624px;
		height: 65px;
		margin-bottom: 36px;
	}
	.wdg_video_search_01 .contenFilter .filterResultado {
		width: 624px;
		position: relative;
		height: auto;
		display:block;
	}
	.wdg_video_search_01 .contenFilter .filterResultado2 {
		display: block;
	}
	.wdg_video_search_01 .contenFilter .lineaResultado {
		width: 300px;
		position: relative;
		height: auto;
		clear: none;
		border-bottom: 1px solid #CCC;
		float: left;
		border-top: 1px solid #ccc;
		margin-top:0px;
	}
	.wdg_video_search_01 .contenFilter .lineaResultado.result1 {
		margin-right: 24px;	
	}
	
	.wdg_video_search_01 .contenFilter .result3,
	.wdg_video_search_01 .contenFilter .result4{
		border-top: none;
	}
	
	.wdg_video_search_01 .contenFilter .filter {
		width: 72%;
		position: relative;
		float: right;
		height: 31px;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_dropdown {
		clear: both;
		width: 100%;
		height: 100%;
		background-color: #E1E1E1;
		box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
		cursor: pointer;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_dropdowncontent {
		background-color: #E1E1E1;
		box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1) inset;
		clear: both;
		cursor: pointer;
		height: 100%;
		width: 100%;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_listcontainer {
		clear: both;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_dropdowncontent > p {
		float: left;
		padding-left: 20px;
		padding-top: 6px;
		font-size: 13px;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_dropdowncontent > span {
		float: right;
		margin-top: 5px;
		margin-right: 12px;
		cursor: pointer;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_listcontainer ul {
		background-color: #f5f5f5;
		z-index: 1000 !important;
		position: relative;
		visibility: hidden;
		cursor: pointer;
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_listcontainer ul li {
		width: 100%;
		height: 34px;
		background-color: rgba(235,235,235,0.6);
		background-color: rgba(235,235,235,0.6);
		border-bottom: 1px solid #d3d3d3;
		box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
	}
	.wdg_video_search_01 .contenFilter .wdg_video_search_01_listcontainer ul li p {
		margin-left: 20px;
		line-height: 34px;
		font-style: italic;
		font-weight: bold;
	}
	.wdg_video_search_01 .contenFilter .lineaResultado > h3 {
		position: relative;
		text-align: center;
		color: black;
		font-size: 13px;
		padding: 5px 0px;
		padding-right: 6px;
	}
	/*END: filterResultado */
	
	/*BEGIN: wdg_video_search_01_ver_mas */
	.wdg_video_search_01 .wdg_video_search_01_ver_mas{
        display: none;
    }
    
    /*Show-paginator*/
    .wdg_video_search_01 .nav_paginator_01{
    	display: block;
    }
    /* Mostrar todos ".mix_3arts_02"  */
    .wdg_video_search_01 .mix_1arts_13{
        display: block;
		float: left;
		overflow:hidden;
		margin-bottom:36px;
    }
	
	/*.wdg_video_search_01 .mix_1arts_13:nth-child(3n){
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
		padding-left: 11px;
		padding-right: 12px;
		margin-left: 11px;
		margin-right: 12px;
    }*/
    /*
	.wdg_video_search_01 .mix_1arts_13{
		display:none;
	}
	.wdg_video_search_01 .mix_1arts_13:nth-child(-n+9){
		display:block;
	}
	*/
	.wdg_video_search_01 .scroll{
		overflow:hidden;
		display: block;
		float: left;
		height: auto;
	}
	.wdg_video_search_01 .degraded{
		display: none;
	}
	.wdg_video_search_01 .scroll .mix_1arts_13 {
		border-right: 1px solid #CCCCCC;
		float: left;
		margin-bottom: 36px;
		margin-right: 11px;
		padding-right: 11px;
	}
	.wdg_video_search_01 .scroll div:nth-child(3n+3) {
		border-right: 0 solid #8D8D8D;
		margin-right: 0;
		padding-right: 0;
	}
	.wdg_video_search_01 .scroll .mix_1arts_13 .image{
		margin-right: 10px;
		padding-right: 10px;
	}
	.wdg_video_search_01 .scroll  .mix_1arts_13 .mix_1arts_13_thumb li a h6{
		padding-top: 3px;
	}
	
	.wdg_video_search_01 .scroll  .mix_1arts_13 .mix_1arts_13_thumb li a p, .mix_1arts_13 .mix_1arts_13_thumb li a h4{
		padding-bottom:18px;
	}

}