/* 
    Document   : wdg_hexagonal_estadistics_01
    Created on : 6/05/2013, 04:02:15 PM
    Author     : Ricardo Jesus Ruiz Cruz
    Description:
*/
@media screen and (min-width: 948px){

















.wdg_hexagonal_estadistics_01
	{
		
		position:relative;
		height:auto;
		overflow:hidden;
		
	}
	.wdg_hexagonal_estadistics_01 .alineacion_partido .equipo_partido .jugador_info_alineado
	{
		width:397px !important;
	}
	.wdg_hexagonal_estadistics_01 .jornada
	{
		width:160px !important;
		float:left;
	}
	.wdg_hexagonal_estadistics_01 .lineaBajoTransform
	{
		border-bottom:1px solid #CCC !important;
		border-top:0px !important;
	}
	.wdg_hexagonal_estadistics_01 .alineacion_partido .equipo_partido
	{
		width:466px;
	}

}