@media screen and (min-width: 624px){
	.mix_more_news_01 {
        width: 300px !important;
        margin-bottom: 36px;
    }
    .mix_more_news_01 ul li.firt_child {
        padding-top: 0;
    }
}