@media screen and (min-width: 624px){  
 	.mix_carru_01 {
        margin-bottom: 24px;
    }
    .mix_carru_01 .resize{
        float: left;
        width: auto;
        overflow: visible;
    }
    .mix_carru_01 div.title {
        margin-bottom: 24px;
    }
    .mix_carru_01 div.title:before,
    .mix_carru_01 div.title:after {
        content: "";
        display: table;
    }
    .mix_carru_01 div.title:after {
        clear: both;
    }
    .mix_carru_01 div.title {
        zoom: 1;
    }
    .mix_carru_01 div.title h3 {
        width: 57%;
        max-width: 300px;
        float: left;
    }
    .mix_carru_01 div.title h3 a {
        background-image: none;
    }
    .mix_carru_01 div.title h3 a span.icon {
        display: none;
    }
    .mix_carru_01 .type2b {
        width: 624px;
    }
    .mix_carru_01 .type2b > div:nth-child(2) {
        width: 624px;
        float: left;
    }
    .mix_carru_01 .type2b > div:nth-child(2) > ul > li {
        float: left;
        padding: 0 10px 5px;
        width: 193px;
    }
    .mix_carru_01 .type2b > div:nth-child(2) > ul > li .img {
        width: 100%;
        height: 100px;
        background-color: #666;
        margin-bottom: 10px !important;
    }
    .mix_carru_01 .type2b > div:nth-child(2) > ul li:first-child {
        padding-left: 0;
        border: 0;
    }
    .mix_carru_01 .type2b > div:nth-child(2) > ul li:last-child {
        padding-right: 0;
    }
    .mix_carru_01 .type2b > div:nth-child(2) div .img {
        width: 409px;
        height: 297px;
        background-color: #666;
        float: left;
    }
    .type2b .articleBigModule {
        width: 624px;
        font-size: 12px;
        position: relative;
    }
    .ie8 .mix_carru_01 .type2b .articleBigModule{
        z-index: 1000 !important;
    }
    .mix_carru_01 .type2b .articleBigModule h2,
    .mix_carru_01 .type2b .articleBigModule h4,
    .mix_carru_01 .type2b .articleBigModule p,
    .mix_carru_01 .type2b .articleBigModule ul {
        display: block;
    }
    .mix_carru_01 .type2b .articleBigModule h4 {
        margin: -6px 0 18px;
        padding: 0;
        font-size: 22px;
    }
    .mix_carru_01 .type2b .articleBigModule p {
        font-size: 16px;
    }
    .mix_carru_01 .type2b .articleBigModule li:first-child {
        margin-bottom: 10px;
    }
    .mix_carru_01 .type2b .articleBigModule li {
        color: #666;
        width: auto;
    }
    .mix_carru_01 .type2b .articleBigModule img {
        float: left;
        width: auto;
        height: auto;
    }
    .mix_carru_01 .type2b .articleBigModule > .galleryCaption {
        width:343px;
        height:103px;
    }

    .ie8 .mix_carru_01 .type2b .articleBigModule > .galleryCaption {
        z-index: 200;
    }

    .mix_carru_01 .type2b .articleBigModule > div:last-child {
        width: 29.5%;
        height: 100%;
        float: right;
        padding: 0;
        position: relative;
        top: 0;
    }
    .mix_carru_01 .type2b .articleBigModule > div:last-child ul:first-child {
        display: none;
    }
    .mix_carru_01 .type2b .articlesThumbList {
        display: block;
        width: 100%;
        text-align: left;
        overflow: hidden;
    }
    .mix_carru_01 .type2b .articlesThumbList li {
        overflow: hidden;
        border: 0;
        padding: 0 16px 5px;
        margin: 16px 0;
        float: left;
        width: 29.45%;
        border-left: 1px solid #ccc;
        background: transparent;
    }
    .mix_carru_01 .type2b .articlesThumbList li img {
        display: block;
    }
    .mix_carru_01 .type2b .articlesThumbList li a {
        padding: 0;
        color: black;
    }
    .mix_carru_01 .type2b .articlesThumbList li a h4,
    .mix_carru_01 .type2b .articlesThumbList li a p {
        width: 98%;
        float: none;
        padding: 0;
    }
    .mix_carru_01 .type2b .articlesThumbList li a h2 {
        display: block;
        font-style: italic;
        font-size: 14px;
        line-height: 48px;
    }
    .mix_carru_01 .type2b .articlesThumbList li span.icon {
        display: none;
    }
    .mix_carru_01 .type2b .articlesThumbList li:first-child {
        padding-left: 0;
        border: 0;
        margin-left: 0;
    }
    .mix_carru_01 .type2b .articlesThumbList li:last-child {
        padding-right: 0;
        margin-right: 0;
    }

    .mix_carru_01 {
        width: 624px;
        overflow: hidden;
    }

    .ie8 .mix_carru_01 {
        z-index: 2000 !important;
    }
    .mix_carru_01 .title > ul ul,
    .mix_carru_01.showArrows .title ul {
        display: none;
    }
    .mix_carru_01 .articleBigModule {
        
    }
    .mix_carru_01 .articleBigModule img {
    }
    .mix_carru_01 .articleBigModule > .galleryCaption {
        overflow: hidden;
        height:92px;
        float:left;
    }
    .mix_carru_01 .articleBigModule > .galleryCaption > ul:first-child {
        display: none;
    }
    .mix_carru_01 .articleBigModule > .galleryCaption > h3 {
        display: none;
    }
    .mix_carru_01 .articleBigModule > ul.galleryThumbs {
        margin:2px 0 0 434px;
    }
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li {
        float: left;
        cursor: pointer;
        margin:0 2px 2px 0;
    }
    
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li:nth-child(3),
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li:nth-child(6) { margin-right:0;}
    
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li {position:relative;}
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li.active span.border,
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li:hover span.border {
        position:absolute;
        left:0;
        top:0;
        display:inline-block;
        width:56px;
        height:55px;
        border:3px solid #A70A0B;
    }
    
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li span.border {
        display:none;
    }
    
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li.active img:first-child,
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li:hover img:first-child {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: none ;
        zoom:1;
        -webkit-filter: grayscale(0%);

    }
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li img {
        max-height: 61px;
        max-width: 62px;
    }
    .mix_carru_01 .articleBigModule > ul.galleryThumbs li img:first-child {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: gray;
        -webkit-filter: grayscale(100%);
    }
	.mix_carru_01 svg{
		position:absolute;
	}
    .mix_carru_01 .type2a {
        width: 624px;
        margin-top: 16px;
    }
    .mix_carru_01 .type2a .articleMedium {
        float: right;
    }
    .mix_carru_01 .type2a .articleMedium:first-child {
        float: left;
        border-right: 1px solid #ccc;
        padding-right: 16px;
    }
    .mix_carru_01 .type2a .articleMedium {
        height: 293px;
        border-top: 0;
    }
    .mix_carru_01 .type2a .articleMedium a {
        font-size: 16px;
    }
    .mix_carru_01 .type2a .articleMedium a p:first-child {
        display: none;
    }
    .mix_carru_01 .type2a .articleMedium img {
        display: block;
    }
    .mix_carru_01 .type2a .articleMedium > div.articleMediumCaption {
        background-color: #fff;
        position: absolute;
        left: 29px;
        bottom: 0;
        width: 243px;
        height: 33%;
        padding: 5% 0 0 10%;
        border: 0;
    }
    .mix_carru_01 .type2a .articleMedium span.icon {
        display: none;
    }
    .mix_carru_01 .type2b .articleBigModule li:first-child {
        margin-bottom: 0;
    }
    .mix_carru_01 .type2b .galleryImages > ul > li {
        height: 535px;
        width: 624px;
    }
    .mix_carru_01 .type2b .galleryImages > ul{
        position: static;
    }

    .mix_carru_01 .galleryImages > ul {
        overflow: hidden;
        height: 352px;
    }

    .mix_carru_01 .title ul {
        display: none;
    }
    .mix_carru_01 .icon_type {
        display: inline;
        position: absolute;
        right: -1px;
        top: 0;
        background: url(../img/global-sprites.png) no-repeat;
        overflow: hidden;
        text-indent: -1584px;
    }

    .mix_carru_01 .photo-corner {
        background-position: -85px -40px !important;
        height: 40px;
        width: 40px;
    }
    .mix_carru_01 .video-corner {
        background-position: -132px -40px !important;
        height: 43px;
        width: 43px;
    }
    .mix_carru_01 .galleryCaption .bullets{
        display: none;
    }

}