@media screen{  
    .mix_carru_01{
		margin-bottom:0;
    }
    .mix_carru_01 .resize{
        float: left;
        width: 100%;
        overflow: hidden;
    }
    
    .mix_carru_01.type2b > div.first-child div h2 {
        font-size: 16px;
    }
    .mix_carru_01 .type2b .articleMobile {
        height: auto;
        background-color: red;
        padding: 0;
        border-top: 1px solid #ccc;
        overflow: hidden;
    }
    .mix_carru_01 .type2b .articleBigModule {
        padding: 0;
        color: #000;
        position: relative;
        overflow: hidden;
    }
    .mix_carru_01 .type2b .articleBigModule ul,
    .mix_carru_01 .type2b .articleBigModule p {
        display: none;
    } 
    .mix_carru_01 .type2b .articleBigModule h2 {
        font-size: 13px;
        font-style: italic;
        font-weight: bold;
    }
    .mix_carru_01 .type2b .articleBigModule img {
        width: 100%;
        height: auto;
    }
    .type2b .articleBigModule > .galleryCaption {
        overflow: hidden;
        background-color: #fff;
    }
    .type2b .articleBigModule > .galleryCaption h2 {
        margin-bottom:8px;
    }
    .type2b .articleBigModule > .galleryCaption:before,
    .type2b .articleBigModule > .galleryCaption:after {
        content: "";
        display: table;
    }
    .type2b .articleBigModule > .galleryCaption:after {
        clear: both;
    }
    .type2b .articleBigModule > .galleryCaption {
        zoom: 1;
    }
    .type2b .articleBigModule > .galleryCaption > ul:first-child {
        float: right;
        width: 100%;
        display: block;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .type2b .articleBigModule > .galleryCaption > ul:first-child li {
        height: 10px;
        width: 10px;
        float: right;
        background-color: #ccc;
        margin: 1px;
    }
    .type2b .articleBigModule > .galleryCaption > ul:first-child .selected {
        background-color: #666;
    }
    .type2b .articleMobile {
        height: auto;
        padding: 0;
        border-top: 1px solid #ccc;
        overflow: hidden;
    }
    .type2b .articlesThumbList {
        width: 100%;
    }
    .type2b .articlesThumbList li {
        background-color: #eee;
        height: auto;
        padding: 0;
        border-top: 1px solid #ccc;
        overflow: hidden;
        position: relative;
    }
    .type2b .articlesThumbList li img {
        display: none;
    }
    .type2b .articlesThumbList li a {
        width: 96.8%;
        text-decoration: none;
        color: #666;
        display: block;
        font-size: 13px;
        margin: 13px 0;
    }
    .type2b .articlesThumbList li a:before,
    .type2b .articlesThumbList li a:after {
        content: "";
        display: table;
    }
    .type2b .articlesThumbList li a:after {
        clear: both;
    }
    .type2b .articlesThumbList li a {
        zoom: 1;
    }
    .type2b .articlesThumbList li a p,
    .type2b .articlesThumbList li a h4 {
        width: 70%;
        padding-left: 16px;
        line-height: 24px;
    }
    .type2b .articlesThumbList li a span.icon {
        background: url(../img/mobile-arrow-sprites.png) no-repeat 0 0;
        background-size: 10px 14px;
        height: 32px;
        width: 35px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        right: 8px;
    }
    .type2b .articlesThumbList li a h2 {
        display: none;
    }
    .mix_carru_01 .title {
        position: relative;
    }
    .mix_carru_01 .title h3 {
        background-color: #0079c2;
    }

    .mix_carru_01 .title h3 a {
        background-image: none;
    }
    .mix_carru_01 .title h1 a {
        background: none;
    }
    .mix_carru_01 .title h1 a .icon {
        background: transparent url(../img/verticalhero/mobile-arrow-sprites.png) no-repeat 0 0;
        background-size: 10px 14px;
        height: 70%;
        width: 19px;
        float: right;
        margin-top: 2px;
        margin-right: 2px;
    }
    .mix_carru_01 .title ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 32px;
        padding-left: 13px;
    }
    .mix_carru_01 .title ul > li {
        float: left;
        width: 16px;
        height: 8px;
        font-size: 21px;
        margin: 9px 0 0;
    }
    .mix_carru_01 .title ul > li a {
        width: 15px;
        height: 9px;
        padding: 0;
        color: transparent;
    }
    .mix_carru_01 .title ul > li:first-child a {
        background: url(../img/verticalhero/arrow-sprites.png) no-repeat 6px 0
    }
    .mix_carru_01 .title ul > li:last-child {
        border-left: 1px dotted #666;
        padding-left: 10px;
    }
    .mix_carru_01 .title ul > li:last-child a {
        background: url(../img/verticalhero/arrow-sprites.png) no-repeat -15px 0;
    }
    .mix_carru_01.showArrows .title h1 {
        width: 50%;
    }
    .mix_carru_01.showArrows .title h1 a .icon {
        display: none;
    }
    .mix_carru_01.showArrows .title ul {
        display: block;
    }
    .mix_carru_01 .type2b .galleryImages {
        overflow:hidden;
    }
    .mix_carru_01 .type2b .galleryImages > ul {
        display: block;
        position:relative;
    }
    .mix_carru_01 .type2b .galleryImages > ul > li {
        background: url('../global/img/ajax-loader.gif') no-repeat 50% 50%;
        display:block;
        float: left;
        margin-right: 5px;
        overflow: hidden;
    }
    .mix_carru_01 .type2b .galleryImages > ul > li:last-child {
        margin-right: 0px;
    }
    .mix_carru_01 .articleBigModule {
    }
    .mix_carru_01 .articleBigModule img {
        width: 100%;
        height: auto;
    }
    .mix_carru_01 .articleBigModule .galleryCaption {
        background-color: #FFF;
        position: relative;
        margin:-24px 0 0 25px;
        padding:36px 32px 24px 32px;
    }
    .mix_carru_01 .articleBigModule .galleryCaption > h3 {
        font-size: 10px;
        font-style: italic;
    }
    .mix_carru_01 .articleBigModule h2 a,
    .mix_carru_01 .articleBigModule h4 a {
        color: inherit;
        text-decoration: none;
    }
    .mix_carru_01 .articleBigModule h2 a:hover,
    .mix_carru_01 .articleBigModule h4 a:hover {
        text-decoration: none;
    }
    .mix_carru_01 > .type2a .articleMedium {
        height: auto;
        border-top: 1px solid #ccc;
    }
    .mix_carru_01 > .type2a .articleMedium div:last-child {
        height: auto;
        background-color: #fff;
        padding: 22px;
        position: relative;
        width: 100%;
    }
    .mix_carru_01 > .type2a .articleMedium img {
        display: none;
    }
    .mix_carru_01 > .type2a .articleMedium a {
        width: 96.8%;
        text-decoration: none;
        color: #666;
        display: inline;
        font-size: 13px;
    }
    .mix_carru_01 > .type2a .articleMedium a h4 {
        width: 70%;
        float: left;
        padding: 0 16px;
        font-size: 16px;
    }
    .mix_carru_01 > .type2a .articleMedium a p:first-child {
        font-size: 13px;
        font-style: italic;
        display: block;
    }
    .mix_carru_01 > .type2a .articleMedium a span.icon {
        background: url(../img/verticalhero/mobile-arrow-sprites.png) no-repeat 0 0;
        background-size: 10px 14px;
        height: 32px;
        width: 35px;
        position: absolute;
        top: 43px;
        right: 57px;
    }
    .mix_carru_01 .galleryCaption .itemSection{
        color: #D6A256; 
    }
    .mix_carru_01 .galleryCaption .bullets{
        display: block;
        position: absolute;
        top:6px;
        right:6px;
    }
    .mix_carru_01 .galleryCaption .bullets ul{
        width:125px;
        float: right;
        margin-top:5px;
        display: block;
    }
    .mix_carru_01 .galleryCaption .bullets ul li{
        width:15px;
        height: 15px;
        background-color:#CCC;
        margin-left: 5px;
        float:left;
    }
    .mix_carru_01 .galleryCaption .bullets ul li.selected{
        background-color:#A70A0B;
    }
}
@media screen and (max-width: 623px) {
    .galleryCaption {
        position:relative;
        height:auto;
    }
}