/* only mobile */
@media screen and (max-width: 623px) {
}

/* all */
@media screen{
    .art_quote_02{
        max-width:210px;
        font-style:italic;
        padding-bottom:10px; 
        border-bottom: 1px solid #CCC; 
        margin-bottom: 0px;
        float:left;
        margin: 24px 24px 24px 0px;
    }
    .art_quote_02 {
        font-size: 12px;
        color:#232323;
        font-weight:normal; 
    }
    .art_quote_02 span.autor{
        color:#8f8f8f; 
    }
    .art_quote_02 img {
        padding-bottom: 10px;
    }
}