/* 
    Document   : btn_print_01
    Created on : 6/05/2013, 04:02:15 PM
    Author     : Ricardo Jesus Ruiz Cruz
    Description:
*/
@media screen and (min-width: 948px){
.btn_print_01
	{
		position:relative;
		height:auto;
		display:block;
		overflow:hidden;	
	}
	

}