/* 
    Document   : wdg_team_alig_01
    Created on : 6/05/2013, 04:02:52 PM
    Author     : Ricardo Jesus Ruiz Cruz
    Description:
*/
@media screen and (min-width: 624px){
	.btn_print_01
	{
		position:relative;
		height:auto;
		display:block;
		overflow:hidden;
	}
	
	
	
}