@media screen and (min-width: 624px){
    .wdg_categories_01 {
        margin-bottom: 36px;
        width: 300px;
    }
    .wdg_categories_01 .wdg_categories_01_container{
        width: 260px;
        text-align: left;
        font-weight: bold;
    }
    .wdg_categories_01 .wdg_categories_01_container li{
        padding-top: 5px;
        padding-bottom: 3px;
    }
    .wdg_categories_01 div.str_pleca_01{
        margin-bottom: 20px !important;
    }
	/*Mostrar solo los primeros 10 en tablet*/
    .wdg_categories_01 li{
        display:none;
    }
}
