@media screen {

    .mix_2arts_05{
        width: 100%;
    }
    
    .mix_2arts_05 .cont-left{
        width: 100%;
    }
	.mix_2arts_05 .divisor{
		position: absolute;
		display:none;
		border-left: 1px solid #CCCCCC;
		margin-left: 312px;
		margin-top: 55px;
		position: absolute;
		width: 10px;
		z-index: 10;
    }

}