@media screen and (min-width: 948px){
    /* BEGIN: Global (Large) */
    .vid_6vids_01{
        margin-bottom: 24px;
    }
    .vid_6vids_01 .bullets{
        display: none;
    }
    .vid_6vids_01 .wdg_mix_carrousa.showArrows .vid_6vids_01_title ul{
        display: block;
    }
    .vid_6vids_01 .wdg_mix_carrousa .general{
		height: 420px;
	}
	.vid_6vids_01 .izq1:nth-child(5) {
		margin-left:0px;
    }
    .vid_6vids_01 .izq1:nth-child(7) {
		margin-left:14px;
    }
    .vid_6vids_01 .izq1:nth-child(9) {
		margin-left:0px;
    }
    /* END: Global (Large) */
}
