@media screen {
    .art_12arti_01{
        width: 100%;
        background-color: #F5F5F5;
        float: left;
        margin-bottom: 10px;
		position: relative;
    } 
    .art_12arti_01 .nav_paginator_01 {
        display: none;
    }
    .art_12arti_01 .div.title {
        width: 100%;
        border-bottom: 1px solid #CCC;
    }
    .art_12arti_01 .container-items {
        width: 104%;
        position: relative;
        height: 590px;
        overflow: hidden;
        clear: both;
		overflow-y: scroll;

    }
	
	
    .art_12arti_01 .container-items .categoria {
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        font-weight: normal !important;
        color: #D6A256;
    }
    .art_12arti_01 .container-items ul {
        list-style: none;
        width: 100%;
    }
    .art_12arti_01 .container-items ul li {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 20px 15px 30px 30px;
        border-bottom: 1px solid #CCC;
    }
	.art_12arti_01 .container-items ul:first-child li:nth-child(1) {
        padding-top: 0px;
    }
	  .art_12arti_01 .container-items ul:last-child {
        border-bottom: none;
    }
    .art_12arti_01 .container-items ul li {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    .art_12arti_01 .container-items ul li .titulos h3{
		font-size: 14px;
        line-height: 16px;
        padding-right: 40px;
    }
    .art_12arti_01 .container-items ul li div.info-note{
        font-size: 12px;
        display: none;
    }
    .art_12arti_01 .container-items ul li div p {
        font-weight: bold;
        margin-top: 0;
        font-size: 14px;
        line-height: 16px;
    }
    .art_12arti_01 div.container-btn { 
        display: none;
    }
    .art_12arti_01 .container-items ul li div.titulos span.icon {
        background: url(../img/mobile-arrow-sprites.png) no-repeat 0 0;
        background-size: 12px 20px;
        height: 32px;
        width: 35px;
        position: absolute;
        margin-top: -8px;
        top: 40%;
        right: 8px;
    }
    
	
	.art_12arti_01 .titulos .textcolor-title4 {
		display: block;
		font-size: 11px;
		font-style: italic;
		margin-bottom: 1px;
        font-weight: normal;
	}
	
	.art_12arti_01 .degraded {
		border-top: none;
		display: block;
		position: absolute;
		width: 100%;
		height: 12px;
		background-image: url(../global/img/degradado_horizontal.png);
		background-repeat: repeat-x;
		background-position: 10px;
		bottom: 0px;
	}
}