@media screen {
    .art_title_04 {
        width: 100%;
        margin-bottom: 24px;
        clear: both;
        overflow: hidden;
        padding-left: 10px;
		margin-top: 0px;
    }
    .art_title_04 > div{
        float: left;
        height: auto;
    }
    .art_title_04_left img{
        width: 78px;
        height: 68px;
    }
    .art_title_04 .art_title_04_left{
        width: 78px;
        margin-right: 4px;
        margin-left: 0px;
		padding-top: 5px;
    }
    .art_title_04 .art_title_04_right{
        width: 72%;
    }
    .art_title_04 .art_title_04_principal{
        margin-bottom: 0px;
        width: 100%;
    }
    .art_title_04 .art_title_04_principal h1{
        font-size: 26px;
        font-style: italic;
        font-weight: normal
    }
    .art_title_04 .art_title_04_principal > div{
        width: 30px;
        height: 10px;
        border-bottom: 1px solid #d3d3d3; 
        margin-bottom: 7px;
    }
    .art_title_04 .art_title_04_texto p{
        line-height: 18px;
        font-size: 14px;
        height: auto;
        width: 100%;
        overflow: hidden;
		margin-left: 15px;
		
    }
	
	.art_title_04 .art_title_04_texto p:first-child{
		font-size:14px;
		font-weight:bold;
	}
	
	.art_title_04 .art_title_04_texto p.textcolor-title2{
		font-style: italic;
		color: #D9A865 !important;
	}
}
