@media screen and (min-width: 948px){    
	.wdg_sport_calendar_01{
        margin-bottom: 36px;
        height: auto;
    }
	.wdg_sport_calendar_01 iframe{
		width:624px;
		height:1400px; 
	}
/*	
    .wdg_sport_calendar_01 iframe{
		width:624px;
		height:400px; 
	}*/
}