@media screen { 
    /* Encabezado */ 
    .td_mexicanos_ext_01 .nav_header_01{
		margin-bottom:0px !important;
    }
    /*Wrap*/
    .td_mexicanos_ext_01 .main{
        width: 100%;
		position:relative;
    }
    /*Todos los divs contenedores primarios se hacen al 100%*/
	.td_mexicanos_ext_01 .main > div{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	.td_mexicanos_ext_01 .main .c7_2{
		width:100%;
	}
	.td_mexicanos_ext_01 .main .c5_5{
		display:block;
		width:100%;
		height:70;
		padding-top:6px;
		margin:auto;
		text-align:center;
	}
	.td_mexicanos_ext_01 .mix_3arts_03 .str_pleca_01{
		display: none;
	}
}