@media screen and (min-width: 948px){
	.ie7 .mix_1arts_03 .type2b .articleBigModule h4{
		font-size:17px !important;
		line-height:20px;
		margin: 8px 0 19px;
    	padding: 0;
	}
	.ie7 .mix_1arts_03 .iconArticle{
		clear:both;
		float:left;
		width:45px;
	}
	.ie7 .mix_1arts_03 .type2b .articleBigModule li a p{
		margin-left:28px;
	}
	.ie7 .mix_1arts_03 .iconArticle, .mix_1arts_03 .iconVideo{
		height:0px;
	}
	.ie7 .mix_1arts_03 .iconVideo{
		width:20px !important;
	}
}	