.ie8 .img_galry_03 #videobtn {
	top: 35.2%;
}

.ie8 .img_galry_03 #fullGallery {
	top: 35.2%;
}

.ie8 .img_galry_03 .overlay p {
	top: 0%;
	height:30px;
	margin-bottom:20px;
}

.ie8 .img_galry_03 .txt2{
	margin-bottom: 15px;
}

