:)@media screen { 
    /* Encabezado */ 
    .td_video_indice_01 .header1{
        width:100%;
        min-height:80px;
    }
    /*Wrap*/
    .td_video_indice_01 .main{
        width: 100%;
    }
	.td_video_indice_01 .main .wdg_social_01 {
		height: 60px;
		margin: 0 auto;
		width: 300px;
	}
    /* Banners */ /* Titulo */
    .td_video_indice_01 .main .topTitle{
        width:100%;
        clear:both;
    }
    .td_video_indice_01 .main .c1{
        width:100%;
        clear:both;
        min-height:200px;
    }
	.td_video_indice_01 .main .c1 .c1_2r {
    	margin-bottom: 15px;
		margin-top:11px;
	}
    .td_video_indice_01 .main .c2_1,
	.td_video_indice_01 .main .c2_2,
	.td_video_indice_01 .main .c2_3{
        width: 100%;
    }
}