@media screen {
	.wdg_team_playersts_01{
		width:624px;
		margin-bottom: 36px;
		clear:both;
		overflow:hidden;
		font-size:12px;
	}
	
	.wdg_team_playersts_01 .str_pleca_01{
		margin-bottom:0px;
	}
	
	.wdg_team_playersts_01 div.str_pleca_01_title h3 {
		font-size:14px;
	}
	
	.wdg_team_playersts_01 .shsTotD,
	.wdg_team_playersts_01 .shsTotDgold{
		display: none;
	}
	.wdg_team_playersts_01 .shsRow0Row td{
		text-align:center;
	}
	.wdg_team_playersts_01 .shsRow0Row td:first-of-type,
	.wdg_team_playersts_01 .shsRow1Row td:first-of-type{
		font-size:15px;
	}
	.wdg_team_playersts_01 .shsRow1Row td{
		text-align:center;
	}
	.wdg_team_playersts_01 .titulo{
		display:none;
	}
	.wdg_team_playersts_01 tbody tr:nth-last-child(11) td{
		text-align:center;
		color:#000;
		font-weight:bold;
		border-top:none;
		border-bottom: 1px solid #CCC;
		background:none;
	}
	.wdg_team_playersts_01 tbody tr:last-child td{
		border-bottom: 1px solid #CCC;
		background:none;
	}
	.wdg_team_playersts_01 table{
		width:100%;
		text-align: right;
		border-spacing:0;
		border-collapse:collapse;
	}
	
	.wdg_team_playersts_01 .shsTableTtlRow td{
		background-color:#999;
		color:#FFF;
		text-align:center !important;
		padding: 5px 0;
		height:24px;
		font-weight: bold;
	}
	
	.wdg_team_playersts_01 .shsColTtlRow td{
		font-weight:bold;
	}
	
	.wdg_team_playersts_01 tbody td{
		padding: 7px;
		height:24px;
		height:30px;
		font-size:16px;
		font-weight:bold;
		color:#8f8f8f;
		background: url("../img/dotted-horizontal.png") repeat-x  bottom;
	}
	.wdg_team_playersts_01 .shsColTtlRow td{
		padding: 12px 0 0 12px;
	}
	.wdg_team_playersts_01 .shsTableSubttlRow td{
		color:#000;
		font-size:20px;
		font-style:italic;
		margin-bottom:24px;
		border-bottom: 1px solid #CCC;
		background:none;
		background-image:none;
	}
	.wdg_team_playersts_01 tbody .shs1stCol{
		text-align:right;
		font-weight:bold;
		padding-right: 5px;
	}
	
	.wdg_team_playersts_01 .shsViewMore td{
		background-color:#EDEDED;
		text-align:center !important;
	}
	
	.wdg_team_playersts_01 .link_color{
		display:none;
	}
	.wdg_team_playersts_01 .shsMiniCopyright_teamstats {
		display: none;
	}

	.wdg_team_playersts_01 tbody td:first-child{
		text-align: left;
		padding-left:12px;
	}
	
	.wdg_team_playersts_01 .shsMiniCopyright,
	.wdg_team_playersts_01 .shsMiniCopyrightText{
		display:none;
	}
}