@media screen and (min-width: 624px){
	.wdg_sport_teams_01{
		margin-bottom: 36px;
		height:487px;
		overflow: hidden;
		display: block;
	}

	.wdg_sport_teams_01 .scroll{
		overflow:auto;
		height:447px;
		width:650px;
	}
	
}