@media screen and (min-width: 948px){
    .wdg_golfresult_01 .wdg_golfresult_01_content{
        /*border-bottom: 1px solid #d3d3d3;*/
        height: auto;
        overflow: visible;
    }
    .wdg_golfresult_01 .scroll{
        height: auto;
        overflow: hidden;
    }
    .wdg_golfresult_01 .scroll2{
        height: auto;
        overflow: auto;
        width: 650px;
    }
    .wdg_golfresult_01 .wdg_golfresult_01_arrows{
        display: none;
    }
    .ie7 .wdg_golfresult_01 .wdg_golfresult_01_content > div ul li.date{
        width:70px;
    }
    .ie8 .wdg_golfresult_01 .wdg_golfresult_01_content > div ul li.date{
        width:70px;
    } 	
	 .wdg_golfresult_01 .degraded{				
		display:none;	
	}
}
